# 1.9.3

表1.2

In [3]:
import numpy as np
import pandas as pd
x1 = np.array([63,56,51,50,42])
y1 = np.array([63,66,61,60,52])
df1 = pd.DataFrame({
    'x1':x1,
    'y1':y1
    })
df1

   x1  y1
0  63  63
1  56  66
2  51  61
3  50  60
4  42  52

In [8]:
"""
以下はエラーが発生するのでできない
np.mean(x1 = np.array([63,56,51,50,42])) 
"""
np.array([63,56,51,50,42]).mean()

52.4

表1.3

In [9]:
import gc
#オブジェクトの削除
del df1
#メモリの解放
gc.collect()

1611

In [13]:
data01 = pd.read_csv("./causality-main/data01.csv")
data01.head()

   x1  y1
0  63  63
1  56  66
2  51  61
3  50  60
4  42  52

In [15]:
data01.describe()

              x1        y1
count   5.000000   5.00000
mean   52.400000  60.40000
std     7.765307   5.22494
min    42.000000  52.00000
25%    50.000000  60.00000
50%    51.000000  61.00000
75%    56.000000  63.00000
max    63.000000  66.00000

# 1.9.4

In [50]:
"""
data01[2,:]
これはエラーになる
"""
data01.iloc[2,:]

x1    51
y1    61
Name: 2, dtype: int64

In [27]:
data01.iloc[:,[1]]

   y1
0  63
1  66
2  61
3  60
4  52

In [36]:
data01.iloc[2,1]

61

In [39]:
np.mean(data01.x1) #numpyのmean()
data01['x1'].mean() #pandasのmean()

52.4

In [43]:
np.std(data01['x1']) #defaultだとddof=0になっている

6.945502141674135

In [44]:
data01.x1.std() #default ddof=1

7.76530746332687

In [47]:
np.std(data01.y1, ddof=1) #numpyはdefault ddof=0
data01.y1.std() #pandasはdefaultがddof=1

5.224940191045253

In [57]:
output = np.empty([2,2])
for e in range(2):
    output[e,0] = np.mean(data01.iloc[:,e])
    output[e,1] = data01.iloc[:,e].std() #OR np.std(ddof=1)
output

array([[52.4       ,  7.76530746],
       [60.4       ,  5.22494019]])