Rをまず起動できるようにする

In [14]:
install.packages('IRkernel')
IRkernel::installspec()

The downloaded binary packages are in
	/var/folders/2l/4g5bjb55503d7ytcwc5bl8wh0000gn/T//Rtmp8TnGQd/downloaded_packages

# 1.9.3
データの入力方法

表1.2

In [15]:
x1 <- c(63,56,51,50,42)
y1 <- c(63,66,61,60,52)
df1 <- data.frame(x1,y1)
df1

  x1 y1
1 63 63
2 56 66
3 51 61
4 50 60
5 42 52

In [16]:
#<-と＝の違い
mean(x1 <- c(63,56,51,50,42))
mean(x1 = c(63,56,51,50,42)) #エラーが出る

[1] 52.4

ERROR: Error in mean.default(x1 = c(63, 56, 51, 50, 42)): argument "x" is missing, with no default

表1.3

In [17]:
rm(list = ls())
#rm(list <- ls()) #エラー。これは違うらしい
#data01 <- read.csv(file.choose()) 
#VSCode上だと普通にパスを求められる.
#あと、jupyter notebookだと上手く行かないみたい

In [18]:
#readrのread_csvもある
#以下引用
#read.csv()で読み込まれた表は data.frame クラスに、read_csv()関数で読み込まれた表は tibble クラスとして保存される。
#宋, 矢内(2022). 私たちのR: ベストプラクティスの探究.
#https://www.jaysong.net/RBook/io.html#fn31
install.packages('tidyverse')
library('tidyverse')
data01 <- read_csv("./causality-main/data01.csv")

The downloaded binary packages are in
	/var/folders/2l/4g5bjb55503d7ytcwc5bl8wh0000gn/T//Rtmp8TnGQd/downloaded_packages

Rows: 5 Columns: 2
-- Column specification --------------------------------------------------------
Delimiter: ","
dbl (2): x1, y1

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [19]:
#以下を入力.どうやら以下はクォート無しで良いみたい.
#./causality-main/data01.csv
head(data01)

  x1 y1
1 63 63
2 56 66
3 51 61
4 50 60
5 42 52

In [20]:
summary(data01)

       x1             y1
 Min.   :42.0   Min.   :52.0
 1st Qu.:50.0   1st Qu.:60.0
 Median :51.0   Median :61.0
 Mean   :52.4   Mean   :60.4
 3rd Qu.:56.0   3rd Qu.:63.0
 Max.   :63.0   Max.   :66.0

# 1.9.4

In [21]:
#for loop
data01[3,]
"""
data01[3,:] 
これはエラーになる
"""

  x1 y1
1 51 61

In [23]:
data01[,2]
data01[1:length(as.data.frame(data01)[,2]),2] #これはエラーにならない
data01[3,2]

  y1
1 63
2 66
3 61
4 60
5 52

  y1
1 63
2 66
3 61
4 60
5 52

  y1
1 61

In [24]:
mean(data01$x1)
sd(data01$x1) #default ddof=1

[1] 52.4

[1] 7.765307

In [25]:
mean(data01$y1)
sd(data01$y1) #default ddof=1

[1] 60.4

[1] 5.22494

In [27]:
#read.csvとread_csvの違い
mean(data01[,1]) #NAになる. #理由は多分tibbleクラス(list)で格納されているため.
#read.csvで保存すればdf[,1]でも変数の指定が可能
data001 <- read.csv("./causality-main/data01.csv")
mean(data001[,1]) 
#もしくは直接変数の型を変更すれば良い
mean(as.data.frame(data01)[,1])

Warning message in mean.default(data01[, 1]):
"argument is not numeric or logical: returning NA"

[1] NA

[1] 52.4

[1] 52.4

In [28]:
output <- matrix(NA,2,2)
for(j in 1:2){ #forの後の#ofloopは()で囲わないといけない
    output[j,1] <- mean(data001[,j])
    output[j,2] <- sd(data001[,j])
}
output

     [,1] [,2]
[1,] 52.4 7.765307
[2,] 60.4 5.224940

In [6]:
#for loopの代わりにapplyも使える
apply(data01,2,mean) #ここでは普通にtibble型の変数でも使える
apply(data01,2,sd)

ERROR: Error in apply(data01, 2, mean): object 'data01' not found